
/*cambios hechos en el archivo ubuntu*/
/*=============about us===============*/


.texto-descriptivo {
    color: #878787;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 16px;
    text-align: justify;
}
body {
    font-size: 16px;
}


/*========= FONTS ========= */

/* CEREALES */


@font-face {
	font-family: 'monstro_solidregular';
	src: url('//cerealesandinos.com/webfonts/monstro_solid-webfont.woff2') format('woff2'),  url('//cerealesandinos.com/webfonts/monstro_solid-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'AdriaSlab-BoldUprightItalic';
	src: url('webfonts/329A23_0_0.eot');
	src: url('webfonts/329A23_0_0.eot?#iefix') format('embedded-opentype'), url('//cerealesandinos.com/webfonts/329A23_0_0.woff2') format('woff2'), url('//cerealesandinos.com/webfonts/329A23_0_0.woff') format('woff'), url('//cerealesandinos.com/webfonts/329A23_0_0.ttf') format('truetype');
}
@font-face {
	font-family: 'AdriaSlab-Medium';
	src: url('webfonts/329A23_1_0.eot');
	src: url('webfonts/329A23_1_0.eot?#iefix') format('embedded-opentype'), url('//cerealesandinos.com/webfonts/329A23_1_0.woff2') format('woff2'), url('//cerealesandinos.com/webfonts/329A23_1_0.woff') format('woff'), url('//cerealesandinos.com/webfonts/329A23_1_0.ttf') format('truetype');
}
@font-face {
	font-family: 'KGDefyingGravityBounce';
	src: url('webfonts/329A23_2_0.eot');
	src: url('webfonts/329A23_2_0.eot?#iefix') format('embedded-opentype'), url('//cerealesandinos.com/webfonts/329A23_2_0.woff2') format('woff2'), url('//cerealesandinos.com/webfonts/329A23_2_0.woff') format('woff'), url('//cerealesandinos.com/webfonts/329A23_2_0.ttf') format('truetype');
}
@font-face {
	font-family: 'NexaScript-Bold';
	src: url('webfonts/329A23_3_0.eot');
	src: url('webfonts/329A23_3_0.eot?#iefix') format('embedded-opentype'), url('//cerealesandinos.com/webfonts/329A23_3_0.woff2') format('woff2'), url('//cerealesandinos.com/webfonts/329A23_3_0.woff') format('woff'), url('//cerealesandinos.com/webfonts/329A23_3_0.ttf') format('truetype');
}


/* END CEREALES */

/* ================== COLOR PRESET 2 ================= */
/*
@colorPreset2_color1:             #D6BFDD; // soft purple
@colorPreset2_color1_dark:      darken(@colorPreset2_color1, 10%);
@colorPreset2_color1_light:     lighten(@colorPreset2_color1, 5%);
@colorPreset2_color2:             #B9DCD2; // light turquoise
@colorPreset2_color2_dark:         darken(@colorPreset2_color2, 10%);
@colorPreset2_color2_light:        lighten(@colorPreset2_color2, 10%);
@colorPreset2_color3:            #EF426F; // corporate
@colorPreset2_color3_dark:         darken(@colorPreset2_color3, 10%);
@colorPreset2_color3_light:        lighten(@colorPreset2_color3, 30%);
@colorPreset2_color4:            #fdd26e; // yellow
@colorPreset2_color4_dark:      darken(@colorPreset2_color4, 10%);
@colorPreset2_color4_light:        lighten(@colorPreset2_color4, 5%);

/*================Espaciados===========*/


.espaciado-m {
    line-height: 35px !important;
}
.espaciado-l {
    line-height: 51.2px;
}
.sombra {
    text-shadow: 2px 2px 5px rgba(0,0,0,0.75);
}
#wrapwrap {
        font-family: "AdriaSlab-Medium";
    h1, h2, h3, h4, h5, h6 {
        font-family: "monstro_solidregular";
        font-weight: 700;
        line-height: 1.1;
    }
    h2{
        font-size: 66px;
        font-weight: 600;
    }
    .h3 {
        text-transform: capitalize;
        font-size: 16px ;
        color: white !important;
        padding-top: 11.2px;
        font-weight: 700px;

    }
