
/*cambios hechos en el archivo ubuntu*/
/*=============about us===============*/


.texto-descriptivo {
    color: #878787;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 16px;
    text-align: justify;
}
body {
    font-size: 16px;
}
/*================Espaciados===========*/


.espaciado-m {
    line-height: 35px !important;
}
.espaciado-l {
    line-height: 51.2px;
}
.sombra {
    text-shadow: 2px 2px 5px rgba(0,0,0,0.75);
}
#wrapwrap {
        font-family: "AdriaSlab-Medium";
    h1, h2, h3, h4, h5, h6 {
        font-family: "monstro_solidregular";
        font-weight: 700;
        line-height: 1.1;
    }
    h2{
        font-size: 66px;
        font-weight: 600;
    }
    .h3 {
        text-transform: capitalize;
        font-size: 16px ;
        color: white !important;
        padding-top: 11.2px;
        font-weight: 700px;

    }
.adria-l {
    font-family: AdriaSlab-Medium;
    font-size: 34px;
}
.defying-l {
    font-family: KGDefyingGravityBounce;
    font-size: 70px;
}
.defying-m {
    font-family: KGDefyingGravityBounce;
    font-size: 40px !important;
}
.nexa-m {
    font-family: NexaScript-Bold;
    font-size: 51.6px
}
.h2-contenidos {
    color: #ef426f;
    font-size: 36px;
    font-family: NexaScript-Bold;
    margin-top: 40px;
}
.linea-top {
    padding-top: 40px;
    border-top: 3px dotted rgb(239, 66, 111);
    border-color: rgb(239, 66, 111);
}

/*cambios hechos en el archivo theme*/


width: 257px;
   bottom: 0;
/*=============about us==========*/


.bloque-cita {
   height: 70px;
}
.product-title, .product-accessories, .product-miniature{
   text-align: center;
   background-image: url(/web/image/3331);
   background-size: cover;
   background-position: center center;
   background-color: #ef426f;
   margin: 40px 0px 0px 0px;
   padding: 80px;
   color: white;
   text-align: right;
   font-family: monstro_solidregular;
   font-size: 32px;
   line-height: 32px;
   text-shadow: 2px 2px 5px black;
   height: 256px;
   padding-right: 375px !importat;
}
.margin-about-us{
   margin-right: 360px !important;
}
/*=============productos=========*/


.featured-products, .product-accessories .product-description, .product-miniature{
   position: absolute;
   z-index: 1;
   background-color: #EF426F;
   text-transform: capitalize !important;
   margin-top: 16px;
   color: white;
   font-weight: 700;
   line-height: 1.1px;
   font-size: 32px;
   font-family: AdriaSlab-Medium;
}
.product-price-and-shipping, .product-price-and-shipping {
   color: #FDD26E;
   font-weight: 700;
   text-align: center;
   font-size: 16px;
}
.product-miniature .product-container {
   margin-bottom: 1.5625em;
   height: 358px !important;
   width: 257px !important;
}
.product-thumbnail, .featured-products, .product-accessories, .product-miniature {
   display: block;
   width: 250px !important;
}
img, .featured-products img, .product-accessories img, .product-miniature img {
   margin-left: 4px;
}
.product-title a, .featured-products .product-title a, .product-accessories, .product-miniature {
   color: #FFFFFF;
   font-size: 16px;
   text-decoration: none;
   text-align: center;
   font-weight: 700;
   margin: 11.2px 0 0 0;
   font-family: AdriaSlab-Medium;
}
.product-price-and-shipping, .featured-products .product-price-and-shipping, .product-accessories .product-price-and-shipping, .product-miniature .product-price-and-shipping {
   color: #FDD26E;
   font-weight: 700;
   text-align: center;
   font-size: 16px;
}
.products-section-title, .featured-products .products-section-title, .product-accessories .products-section-title, .product-miniature .products-section-title {
   text-align: center;
   margin-bottom: 1.5rem;
   font-family: monstro_solidregular;
   font-size: 32px !important;
   padding-top: 64px !important;
}
.all-product-link, .featured-products .all-product-link, .product-accessories .all-product-link, .product-miniature .all-product-link {
   clear: both;
   color: #878787;
   font-weight: 700;
   margin-top: 1.5rem;
   margin-bottom: 1.5rem;
}
.pull-md-right {
   float: right!important;
}
.pull-md-left {
   float: left!important;
}
/*================logo==============*/


.logo-principal {

   width: 170px;
   margin-bottom: 50px;
   height: 170px;
}

.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
   position: relative;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
}
.logo-encuentranos{
   height: 153px !important;
}
/*==========productos homepage=========*/


.cover{ //para lo que le rodea al producto
   width: 257px !important;
   height: 383px !important;
   position: relative;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   margin-left: 8px;
   margin-right: 8px;
   margin-bottom: 8px;
}
.producto-imagen{
   width: 250px !important;
   height: 250px !important;
   padding: 5px !important;
}
.product-description{
   height: 90px;
}
.row-productos{
   height: 766px;
}
.product-title{
   font-size: 32px;
   color: white;
}
.product-description{
 color: #FDD26E;
 font-size: 16px;
}
.carousel .carousel-item .caption {
   position: absolute;
   color: #fff;
   width: 100%;
   top: 20px;
   text-align: center;
}
.carousel-inner{
   height: 592px;
   margin-top: 20px;
}
.products-section-title{
   padding-top: 64px;
   margin-bottom: 24px;
   font-size: 32px;
   text-align: center;
}
/*========boton arriba=========*/


.cd-top.cd-fade-out {
   opacity: 0.8;
}
.cd-top.cd-is-visible {
   visibility: visible;
   opacity: 1;
}
.cd-top{
   right: 20px;
   bottom: 20px;
   display: inline-block;
   height: 40px;
   width: 40px;
   position: fixed;
   bottom: 40px;
   right: 10px;
   box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 10px;
   text-indent: 100%;
   white-space: nowrap;
   visibility: hidden;
   opacity: 0;
   overflow: hidden;
   transition: 0.3s;
}
/* ====================== button style ======================== */


.btn {
    padding: 10px 20px;
    .transition (all 0.3s ease-out);
    border-width: 0px;
    /*AGREGADO*/
    display: inline-block;
    line-height: 1.25;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    border: 1px solid transparent;
    border-radius: 0;
}
.btn-primary {
    box-shadow: 2px 2px 11px 0 rgba(0,0,0,.1);
    text-transform: uppercase;
    font-weight: 600;
    padding: 8px 20px;
    border-color: transparent;
    background-color: #FDD26E ;
}

.btn-lg{
    background-color: #FDD26E!important;
    color: white !important;
}
/*Codigo agregado del arhivo s_banner_3*/
   .carousel .carousel-item {
    height: 100%;
    text-align: center;
   }
   .sliderfill {
   width: 100%;
   height: 100%;
   background-position: center;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   background-size: cover;
   -o-background-size: cover;
   padding-top: 1px;
   }
